*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 200px) 1fr 300px;
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
}

.gridItem{
    background-color: aqua;

}
