/* transforma em uma coluna */

@media(max-width: 768px){
    .grid__container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    padding: 20px;
    height: auto;
    gap: 20px;
    }

}
.box{
    width: 100%;
    height: auto;
    min-height: 200px;
}

