*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
  


}
html{
    background: linear-gradient(90deg,rgba(175, 113, 217, 1) 0%, rgba(255, 112, 112, 1) 50%, rgba(255, 191, 102, 1) 100%);
    width: 100%;
    height: 100vh;
   

}

img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 4px double rgb(239, 239, 246);

}

.box{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}
.box1{
    background-color: rgb(232, 74, 106);
    width: 400px;
    /* ele mescla essas coisas */
    grid-column-start: 1;
    grid-column-end: 3;
}
.box2{
    background-color: rgb(244, 120, 71);
    height: 600px;
    grid-row-start: 3;
    grid-row-end:4;

}
.box3{
    background-color: rgb(249, 218, 126);
}
.box4{
    background-color: rgb(214, 69, 98);
}
.box5{
    background-color: rgb(215, 105, 61);
}
.box6{
    background-color: rgb(237, 206, 113);
}